/* ClassList.css */
.class-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .tabs {
    display: flex;
  }
  
  /* set background-color to  */
  .tabs button {
    background-color: #ededed;
    border-bottom: 2px solid transparent;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .tabs button.selected:hover {
    /* border-bottom-color: #002d5f; */
    border-bottom-color: #002d5f;
  }
  
  .tabs button.selected {
    /* border-bottom-color: #002d5f; */
    border-bottom-color: #f0a332;
  }
  
  .subtabs {
    display: flex;
  }
  
  .subtabs button {
    background-color: #f9f9f9;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .subtabs button.selected {
    border-bottom-color: #333;
  }
  
  .class-list .class-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .class-list .class-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .class-list .class-card h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .class-list .class-card p {
    margin-bottom: 0;
  }
  